.success {
    background-color: green;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
}
.error {
    background-color: red;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
}
.notPlayedYet {
    background-color: gray;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
}